# Neon Postgres connection string
DATABASE_URL=postgresql://user:password@ep-xxx.neon.tech/dbname?sslmode=require

# Work configuration
BOOK_SLUG=my-book
BOOK_TITLE=My Amazing Book

# Set a password if you want to lock the author dashboard so only you can see the feedback (optional)
AUTHOR_DASH_PASSWORD=

# The URL you deploy it at (for generating invite links)
NEXT_PUBLIC_BASE_URL=http://localhost:3000
